<!DOCTYPE html>
<html lang="en" ondragenter="document.getElementById('dropBox').style.pointerEvents = 'auto';" onmouseover="document.getElementById('dropBox').style.pointerEvents = 'none';">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="/css/fontello.css">
    <script src="/js/dropbox.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="droppable" id="dropBox"></div>
<script>
    var element = document.querySelector('.droppable');
    makeDroppable(element, callback);
    function callback(files) {

        var formData = new FormData();
        for(var i = 0; files.length > i; i++){
            formData.append("files", files[i]);
        }

        $.ajax({
            url: "/<%=(path.join(url.Upload,addressArray.join("/"))).replace(/\\/g, "/")%>",
            method: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                location.reload();
            }
        })
    }
</script>
<div>
    <table class="addressBar">
        <tr>
            <th><a style="text-decoration: none;" href="/<%=url.Explorer%>">Root</a><i id="caret" class="icon-right-dir"></i></th>
            <% for(var l=0; l < addressArray.length; l++) {%>
            <th>
                <a style="text-decoration: none;" href="/<%=(path.join(url.Explorer,addressArray.slice(0,l+1).join("/"))).replace(/\\/g, "/")%>/"><%=addressArray[l]%></a>
                <i id="caret" class="icon-right-dir"></i>
            </th>
            <% } %>
        </tr>
    </table>
    <table class="files">
        <tr class="header">
            <th>Name</th>
            <th>Download</th>
            <th>Date Modified</th>
            <th id="size">Size</th>
        </tr>
        <% for(var i=0; i < files.length; i++) {%>
        <tr>
            <th style="text-align: left">
                <i class="<%=files[i].fileIcon%>" aria-hidden="true"></i>
                <a class="text" title="<%=(path.join(address,files[i].name)).replace(/\\/g, "/")%>"
                   href="<%=("/"+path.join(files[i].action,address,files[i].name)).replace(/\\/g, "/")%>"><%=files[i].name%></a>
            </th>
            <th>
                <a href="<%=("/"+path.join(url.Download,address,files[i].name)).replace(/\\/g, "/")%>">
                    <i class="icon-link-ext" aria-hidden="true"></i>
                </a>
            </th>
            <th><%=files[i].dateModified%></th>
            <th style="text-align: right"><%=files[i].size%></th>
        </tr>
        <% } %>
    </table>
    <form action="/<%=path.join(url.Upload,address).replace(/\\/g, "/")%>"
          ref='uploadForm'
          id='uploadForm'
          method='post'
          encType="multipart/form-data">
        <input type="file" name="sampleFile" multiple>
        <input type='submit' value='Upload!'>
    </form>
</div>
</body>
</html>