<!DOCTYPE html>
<html lang="en" ondragenter="document.getElementById('dropBox').style.pointerEvents = 'auto';" onmouseover="document.getElementById('dropBox').style.pointerEvents = 'none';">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="/css/fontello.css">
    <script src="/js/dropbox.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="droppable" id="dropBox"></div>
<div>
    <table class="addressBar">
        <tr>
            <th><a style="text-decoration: none;" href="/<%=url.Explorer%>">Root<i id="caret" class="icon-right-dir"></i></th></a>


            <% for(var l=0; l < addressArray.length; l++) {%>
            <th>
                <a style="text-decoration: none;" href="/<%=(path.join(url.Explorer,addressArray.slice(0,l+1).join("/"))).replace(/\\/g, "/")%>/"><%=addressArray[l]%>
                <i id="caret" class="icon-right-dir"></i>
                </a>
            </th>
            <% } %>
        </tr>
    </table>
    <table class="files">
        <tr class="header">
            <th>Name</th>
            <th>Download</th>
            <th>Date Modified</th>
            <th id="size">Size</th>
            <th>Delete</th>
        </tr>
        <% for(var i=0; i < files.length; i++) {%>
        <tr>
            <th style="text-align: left">
                <a><%=i.toString().padStart(3, "0")%></a>
                <i class="<%=files[i].fileIcon%>" aria-hidden="true"></i>
                <a class="text" title="<%=(path.join(address,files[i].name)).replace(/\\/g, "/")%>"
                   href="<%=("/"+path.join(files[i].action,address,files[i].name)).replace(/\\/g, "/")%>"><%=files[i].name%></a>
            </th>

            <th>
                <a href="<%=("/"+path.join(url.Download,address,files[i].name)).replace(/\\/g, "/")%>">
                    <i class="icon-link-ext" aria-hidden="true"></i>
                </a>
            </th>

            <th><%=files[i].dateModified%></th>

            <th style="text-align: right"><%=files[i].size%></th>

            <th>
                <button onclick="httpGet('<%=("/"+path.join(url.Delete, address, files[i].name)).replace(/\\/g, "/")%>')">
                    <b style="color: #b2174e">X</b>
                </button>
            </th>


        </tr>
        <% } %>
    </table>

    <br>
    <br>


    <input class="uploadField" type="file" name="upload" multiple>
    <button onclick="upload(uploadFieldFile)">Upload!</button>
    <progress id="progress" value="0" max="100"></progress>
    <script>
        let progressBar = document.getElementById("progress")
        let uploadField = document.querySelector('.uploadField');
        let uploadFieldFile;
        uploadField.addEventListener('change', function (e) {
            if(e.dataTransfer) {
                uploadFieldFile = e.dataTransfer.files;
            } else if(e.target) {
                uploadFieldFile = e.target.files;
            }
        });

        let droppable = document.querySelector('.droppable');
        makeDroppable(droppable, upload);

        function upload(files) {
            let formData = new FormData();
            for (let i = 0; files.length > i; i++) {
                formData.append("files", files[i]);
            }
            $.ajax({
                xhr: function() {
                    let xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function(evt) {
                        if (evt.lengthComputable) {
                            let percentComplete = (evt.loaded / evt.total) * 100;
                            progressBar.value = Math.ceil(percentComplete);
                        }
                    }, false);

                    return xhr;
                },
                url: "/<%= (path.join(url.Upload, addressArray.join("/"))).replace(/\\/g, "/") %>",
                method: 'post',
                data: formData,
                processData: false,
                contentType: false,

                success: function(){
                    location.reload();
                }
            });
        }

        function httpGet(url) {
            const Http = new XMLHttpRequest();
            Http.open("GET", url);
            Http.send();
            Http.onreadystatechange= (e) => {
                location.reload();
            }
        }
    </script>
</div>
</body>
</html>