<!DOCTYPE html>
<html lang="en" ondragenter="document.getElementById('dropBox').style.pointerEvents = 'auto';" onmouseover="document.getElementById('dropBox').style.pointerEvents = 'none';">
<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/js/dropbox.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="droppable" id="dropBox"></div>
<script>
    var element = document.querySelector('.droppable');
    makeDroppable(element, callback);
    function callback(files) {

        console.log(files);
        var formData = new FormData();
        formData.append("files", files[0]);

        $.ajax({
            url: "/<%=(path.join(url.upload,dir.join("/"))).replace(/\\/g, "/")%>",
            method: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log("success on file up load")
            }
        })
    }
</script>
<div>
    <table class="addressBar">
        <tr>
            <th><a style="text-decoration: none;" href="/<%=url.explorer%>">Root</a><i id="caret" class="fa fa-caret-right" aria-hidden="true"></i></th>
            <% for(var l=0; l < dir.length; l++) {%>
            <th>
                <a style="text-decoration: none;" href="/<%=(path.join(url.explorer,dir.slice(0,l+1).join("/"))).replace(/\\/g, "/")%>/"><%=dir[l]%></a>
                <i id="caret" class="fa fa-caret-right" aria-hidden="true"></i>
            </th>
            <% } %>
        </tr>
    </table>

    <table class="files">
        <tr class="header">
            <th>Name</th>
            <th>Download</th>
            <th>Date Modified</th>
            <th id="size">Size</th>
        </tr>
        <% for(var i=0; i < files.length; i++) {%>
        <tr>
            <th style="text-align: left">
                <i class="<%=files[i].directory ? "fa fa-folder": files[i].fileIcon%>" aria-hidden="true"></i>
                <a class="text" title="<%=("/"+path.join(url.explorer,dir.join("/"),files[i].name)).replace(/\\/g, "/")%>" href="<%=files[i].action !== "none" ? ("/"+path.join(files[i].action,dir.join("/"),files[i].name)).replace(/\\/g, "/") : "#" %>"><%=files[i].name%></a>
            </th>
            <th>
                <a href="<%=("/"+path.join(url.explorer,dir.join("/"),files[i].name)).replace(/\\/g, "/")%>">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </th>
            <th><%=files[i].dateModified%></th>
            <th style="text-align: right"><%=files[i].size%></th>
        </tr>
        <% } %>
    </table>
    <form action="/<%=(path.join(url.upload,dir.join("/"))).replace(/\\/g, "/")%>"
          ref='uploadForm'
          id='uploadForm'
          method='post'
          encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>
</div>
</body>
</html>